body{
	background-color: #2D2735;
}

*{
	box-sizing: border-box;
}

header{
	background-color:#1C1821 ;
}

.logo{
	width:250px ;
	height:100px ;
}

nav{
	padding-top: 30px;
}

a{
	text-decoration: none;
	color: #E3E8F3;
	padding-top: 20px;
	font-family: "Open Sans";
	font-style: italic;
	margin-left: 10px;
}

a:hover{
	color:#DDA661;
}

.background{
	background-image: url("../image/header-image.jpg");
	height: 500px;
	background-size: cover;
	padding-top: 50px;
}

.caja{
	background-color: #1C1821;
	height: 33%;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 117px;

}

.one{
    margin-top: 20px;
}

.top{
	background-size:cover;
	background-repeat: no-repeat;
}

.box{
	background-color: #1C1821;
	margin-top: -4px;
	
}

p{
	color: #E3E8F3;
	font-family: "Open Sans";
	font-style: italic;
	padding: 19px;
}

h1{
	color: #F5B869;
	font-family: "Courgette";
	font-size: 24px;
}

h4{
	color: #F5B869;
	font-family: "Courgette";
}

.fa-bars{
	color: #ffffff;
	display: none;
}

.bgc{
	background-color: #1C1821;
}

.uno{
	padding: 10px;
}

.zero{
	margin-bottom: 0px;
}

.cero{
	margin-bottom: -4px;
}

input{
	background-color: #2D2735;
	padding: 10px;
	border-style: none;
	width: 100%;
}

iframe{
	width:100%;
}

span{
	color: gray;
}

/* Responsive */

@media screen and (max-width : 920px) {
	nav{
		display: none;
	}

	.fa-bars{
		display: inline-block;
		position: absolute;
		bottom:53px;
	    left: 693px;
	    font-size: 34px;
	}

	video{
		height: auto;
		max-width: 100%
	}

	.cero{
		position: relative;
		height: 200px;
		overflow: hidden;
	}
}

@media screen and (max-width: 600px) {

	.oculto{
		display: none;
	}

	.fa-bars{
		display: inline-block;
		position: absolute;
		bottom:54px;
	    left: 384px;
	    font-size: 34px;
	    color: #ffffff;
	}
}

@media screen and (max-width: 480px) {
	
	.oculto{
		display: none;
	}

	.fa-bars{
		display: inline-block;
		position: absolute;
		bottom:53px;
	    left: 383px;
	    font-size: 34px;
	    color: #ffffff;
	}
}
